.container{
    margin: 1.5rem;
    text-align: center;
}
    
.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 400px;
    max-width: 500px;
    height: 425px;
    margin: auto;
    box-shadow: 0 0 10px rgba(130, 129, 129, 0.1);
    border-radius: 22px;
}

.validationError{
    border: 2px solid red;
}

.required{
    text-align: left;
    color: red;
    font-weight: 600;
    margin-left: 35px;
}

#description{
    width: 400px;
}

#amount{
    width: 400px;
}

#dateInput{
    width: 400px;
}

.amount-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text{
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    transition: transform 0.5s ease-in-out;
}

.input-text:hover {
    transform: scale(1.05);
}

.button{
    color: black;
    font-size: large;
    font-weight: 600;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.button:hover{
    transform: scale(1.1);
}