:root {
    --background-color-light: #ffffff;
    --background-color-dark: #121212;
}

html.light-mode, body.light-mode {
    color: black;
    background-color: #ffffff;
}

html.dakr-mode, body.dark-mode {
    color: white;
    background-color: #121212;
}
