:root {
    --background-color-light: #ffffff;
    --background-color-dark: #212529;
}

html.light-mode, body.light-mode {
    color: black;
    background-color: #ffffff;
}

html.dark-mode, body.dark-mode {
    color: white;
    background-color: #212529;
}
